<header class="navigation">
  <div class="row">
    <div class="small-6 left columns">
      <h3 class="title">Bania.io</h3>
    </div>
    <div class="medium-6 right columns show-for-medium-up">
      <ul class="menu right">
        <li>
          <a href="#faq">faq</a>
        </li>
        <li class="has-form">
          <a href="#support">support this project</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<section id="heading">
  <h2 class="title">Use your email to track your goals</h2>
  <h4 class="subtitle">Plus it's totally free</h4>
  <div class="row boxes">
    <div class="screen-box small-12 medium-5 left columns rounded">

      <p class="instruction">
        1. Send an email to what goal you want to track to
        "____________"@bania.io
        <em>e.g. walkeverytday@bania.io</em>
      </p>
    </div>

    <div class="screen-box small-12 medium-5 right columns">
      <p class="instruction">
        2. Instantly get an automated heatmap report of everytime you send
        an email to that address.
        <em>and that's it</em>
      </p>

    </div>

  </div>

  <div class="row try">
    <div class="small-12 columns">
      <button class="button radius">
        try it out!
      </button>
    </div>
  </div>
</section>

<section id="faq">
  <div class="row try">
    <div class="small-8 small-offset-2 columns">
      <h2>FAQ</h2>

      <div class="item">
        <h3 class="question">
          1. Do I need to signup or make an account? Is there software
          to install?
        </h3>

        <p class="answer">
          Nope. Bania.io works insdie your email program without the need to
          create an account or use any additional software.
        </p>
      </div>
      <div class="item">
        <h3 class="question">
          2. Can Bania.io see my emails?
        </h3>

        <p class="answer">
          Only the emails you send to it. Bania.io doesn’t see anything you don’t explicitly send to it, it never has access to your email account or your password.
          Think of Bania.io as just another person in your contact list.
        </p>

      <div class="item">
        <h3 class="question">
          3. Is Bania.io secure? Can someone else edit or see my report?
        </h3>

        <p class="answer">
          Bania.io is inherently secure because it uses your email address as your unique identifier. Only someone using your email address through your email client (yahoo mail, gmail, hotmail, etc...) can send and receive emails from Bania.io. 

          This means that Bania .io is just as secure as your email account. So long as your email stays safe, your Bania.io reports are safe. 
        </p>

      <div class="item">
        <h3 class="question">
          4. Do I need to make unique addresses for each report? What if someone already has walkeveryday@bania.io?
        </h3>

        <p class="answer">
          The addresses only need to be unique to you. You can still use walkeveryday@bania.io even if a million people are already using it. This is because Bania.io sees every user email address as unique and special - just like you!
        </p>

      <div class="item">
        <h3 class="question">
          5. Is this really free?
        </h3>

        <p class="answer">
          Yep! Bania.io is a side project and is totally automated right now, so it costs very little to run.
          If you want to support this project then you can donate below!
        </p>

    </div>
  </div>
</section>

<footer>
  <div class="row">
    <div class="small-3 columns left">
      <p class="message">
        Made with <span class="heart">&hearts;</span> in DC
      </p>
    </div>

    <div class="small-1 columns right">
      <button class="button tiny radius donate">
        donate
      </button>
    </div>
  </div>
</footer>
