$charchoal: #4d4d4d
$green: #7fbf54
$dark-green: #379a31
body
  font-family: 'Ubuntu', sans-serif
  .navigation
    .title
      padding-top: .5em
      color: $charchoal
      font-weight: bold
    .menu
      padding-top: 1.5em
      margin-bottom: 0
      li
        list-style: none
        display: inline-block
        padding-right: .5em

  section.heading
    padding-top: 3em
    height: 15em
    text-align: center
    color: #fff
    background-color: $green
    .title, .subtitle
      color: #fff
    .title
      font-weight: bold
    .subtitle
      font-weight: 300
    .boxes
      margin-top: 2em
      .screen-box
        color:  $charchoal
        height: 5em
        background-color: #F2F2F2
        float: left
        height: 15em
        .instruction
          font-weight: 300
        em
          margin-top: 1em
          display: block
    .try
      margin-top: 2em
      border-bottom: .1em solid $green
      button
        font-size: 2.5em
        background-color: $green
        border: .03em solid $dark-green
        border-bottom: .075em solid $dark-green

