<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body {
        font-size: 16px;
        font-family: Helvetica;
        color: #444444;
      }

      .calendar { 
        width: 100%;
      }

      h1.title {
        text-align: center;
      }

      table {
        width: 100%;
      }

      table.status {
        border-bottom: 1px solid #EEE;
      }

      table.heading td {
        border-bottom: 1px solid #EEE;
        text-align: center;
      }

      .border {
        border-right: 1px solid #EEE;
      }

      td {
        padding: 1em;
        width: 50%;
      }

      td p {
        text-align: center;
      }

      p.heading {
        font-size: 2em;
      }

      p.count {
        font-size: 1.5em;
      }

      .legend {
        text-align: center;
      }

      .legend .direction {
        font-size: 1em;
        width:35px;
      }

      .legend li {
        display: inline-block;
        width: 10px;
        height: 10px;
        list-style: none;
      }

      .calendar {
        text-align: center;
      }

    </style>
  </head>
  <body>
    <table class="heading">
      <tr>
        <td>
          <h1 class="title">
            Bania.io
          </h1>
        </td>
        <td>
            <h2>Report for: <%= @calendar %></h2>
        </td>
      </tr>
    </table>

    <div class="calendar">
      <%= image_tag(@image_url, width: '100%', class: 'calendar') %>
    </div>

    <div class="legend">
      <ul>
        <li class="direction">less</li>
        <li style="background-color: #eee"></li>
        <li style="background-color: #d6e685"></li>
        <li style="background-color: #8cc665"></li>
        <li style="background-color: #44a340"></li>
        <li style="background-color: #1e6823"></li>
        <li class="direction">more</li>
      </ul>
    </div>

    <table class="status">
      <tr>
        <td class="border">
          <p class="heading">Total Count</p>
          <p class="count"><%= @total_count %></p>
        </td>
        <td>
          <p class="heading">Current Streak</p>
          <p class="count"><%= @streak %></p>
        </td>
      </tr>
    </table>
  </body>
</html>
